*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
img {
    vertical-align: top;
}

h1 {
    color: maroon;
}
p {
    color: midnightblue;
}
#menu {
    color: tomato;
}

span.text{
    color: purple;
}
.text {
    color: yellow;
}
.content {
    color: turquoise;
}
.content span{
    color: rgb(16, 71, 44);
}
.content p,.content span{
    color: red; 
}
* {
    color: saddlebrown;
}
.block>p{
    color: lawngreen;
}